In [11]:
import pandas as pd
import json
from pandas import json_normalize

df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
df
s=df['new_car_detail'].iloc[0]
print(s)
df['new_car_detail'].iloc[0].strip('"')
s = s.replace("'", '"').replace("None", "null")
data = json.loads(s)
df_1 = pd.json_normalize(data)
print(df_1)
df_1.shape

{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', 'km': '1,20,000', 'transmission': 'Manual', 'ownerNo': 3, 'owner': '3rd Owner', 'oem': 'Maruti', 'model': 'Maruti Celerio', 'modelYear': 2015, 'centralVariantId': 3979, 'variantName': 'VXI', 'price': '₹ 4 Lakh', 'priceActual': '', 'priceSaving': '', 'priceFixedText': None, 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg', 'heading': 'Trending Car!', 'desc': 'High chances of sale in next 6 days'}}
   it      ft         bt        km transmission  ownerNo      owner     oem  \
0   0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner  Maruti

            model  modelYear  centralVariantId variantName     price  \
0  Maruti Celerio       2015              3979         VXI  ₹ 4 Lakh

  priceActual priceSaving priceFixedText  \
0                                   None

                                 trendingText.imgUrl trendingText.heading  \
0  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!

                     trendingText.desc
0  High chances of sale in next 6 days

(1, 19)

In [12]:
import json

# Your string (make sure it's properly formatted)
data_str = """{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': 'Sept 2018', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'}, {'key': 'Insurance Validity', 'value': 'Comprehensive', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'}, {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'}, {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'}, {'key': 'Kms Driven', 'value': '11,949 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'}, {'key': 'RTO', 'value': 'KA03', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'}, {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'}, {'key': 'Engine Displacement', 'value': '1199 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'}, {'key': 'Transmission', 'value': 'Manual', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'}, {'key': 'Year of Manufacture', 'value': 2018, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}], 'bottomData': None}"""

# Convert single quotes to double quotes & fix None
data_str = data_str.replace("'", '"').replace("None", "null")

# Convert to JSON object
data_json = json.loads(data_str)

# Print in JSON format
print(json.dumps(data_json, indent=4))

{
    "heading": "Car overview",
    "top": [
        {
            "key": "Registration Year",
            "value": "Sept 2018",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg"
        },
        {
            "key": "Insurance Validity",
            "value": "Comprehensive",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg"
        },
        {
            "key": "Fuel Type",
            "value": "Petrol",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg"
        },
        {
            "key": "Seats",
            "value": "5 Seats",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/seats.svg"
        },
        {
            "key": "Kms Driven",
            "value": "11,949 Kms",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg"
        },
        {
            "key": "RTO",
            "value": "KA03",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/rto.svg"
        },
        {
            "key": "Ownership",
            "value": "First Owner",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg"
        },
        {
            "key": "Engine Displacement",
            "value": "1199 cc",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg"
        },
        {
            "key": "Transmission",
            "value": "Manual",
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg"
        },
        {
            "key": "Year of Manufacture",
            "value": 2018,
            "icon": "https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg"
        }
    ],
    "bottomData": null
}

In [13]:
import pandas as pd
import json

# JSON Data (as a Python dictionary)
data_json = {
    "heading": "Car overview",
    "top": [
        {"key": "Registration Year", "value": "Sept 2018", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg"},
        {"key": "Insurance Validity", "value": "Comprehensive", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg"},
        {"key": "Fuel Type", "value": "Petrol", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg"},
        {"key": "Seats", "value": "5 Seats", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/seats.svg"},
        {"key": "Kms Driven", "value": "11,949 Kms", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg"},
        {"key": "RTO", "value": "KA03", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/rto.svg"},
        {"key": "Ownership", "value": "First Owner", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg"},
        {"key": "Engine Displacement", "value": "1199 cc", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg"},
        {"key": "Transmission", "value": "Manual", "icon": "https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg"},
        {"key": "Year of Manufacture", "value": 2018, "icon": "https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg"}
    ],
    "bottomData": None
}

# Convert the 'top' section into a DataFrame
df = pd.DataFrame(data_json['top'])

# Display the DataFrame
print(df)

                   key          value  \
0    Registration Year      Sept 2018
1   Insurance Validity  Comprehensive
2            Fuel Type         Petrol
3                Seats        5 Seats
4           Kms Driven     11,949 Kms
5                  RTO           KA03
6            Ownership    First Owner
7  Engine Displacement        1199 cc
8         Transmission         Manual
9  Year of Manufacture           2018

                                                icon
0  https://images10.gaadi.com/listing/vdp/co/v1/r...
1  https://images10.gaadi.com/listing/vdp/co/v1/i...
2  https://images10.gaadi.com/listing/vdp/co/v1/f...
3  https://images10.gaadi.com/listing/vdp/co/v1/s...
4  https://images10.gaadi.com/listing/vdp/co/v1/k...
5  https://images10.gaadi.com/listing/vdp/co/v1/r...
6  https://images10.gaadi.com/listing/vdp/co/v1/o...
7  https://images10.gaadi.com/listing/vdp/co/v1/e...
8  https://images10.gaadi.com/listing/vdp/co/v1/t...
9  https://images10.gaadi.com/listing/vdp/co/v1/y...

In [14]:
import pandas as pd
import json

# JSON Data
data_json = {
    "heading": "Car overview",
    "top": [
        {"key": "Registration Year", "value": "Sept 2018"},
        {"key": "Insurance Validity", "value": "Comprehensive"},
        {"key": "Fuel Type", "value": "Petrol"},
        {"key": "Seats", "value": "5 Seats"},
        {"key": "Kms Driven", "value": "11,949 Kms"},
        {"key": "RTO", "value": "KA03"},
        {"key": "Ownership", "value": "First Owner"},
        {"key": "Engine Displacement", "value": "1199 cc"},
        {"key": "Transmission", "value": "Manual"},
        {"key": "Year of Manufacture", "value": 2018}
    ],
    "bottomData": None
}

# Convert to DataFrame
df = pd.DataFrame(data_json['top'])

# Convert to wide format (keys as columns, values as row)
df = df.set_index('key').T

# Reset index to make it look like a normal table
df.reset_index(drop=True, inplace=True)

# Display the DataFrame
print(df)

key Registration Year Insurance Validity Fuel Type    Seats  Kms Driven   RTO  \
0           Sept 2018      Comprehensive    Petrol  5 Seats  11,949 Kms  KA03

key    Ownership Engine Displacement Transmission Year of Manufacture
0    First Owner             1199 cc       Manual                2018

In [15]:
import pandas as pd
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
# df
# s=df['new_car_detail'].iloc[0]
data_str=df['new_car_overview'].iloc[0]
data_str = data_str.replace("'", '"').replace("None", "null")
# Convert to JSON object
data_json = json.loads(data_str)



# Convert JSON to DataFrame
df = pd.DataFrame(data_json['top'])

# Transform: Convert 'key' values into columns & 'value' into row
df = df.pivot(columns="key", values="value")

# Reset index to make it look like a clean table
df = df.reset_index(drop=True)

# Display DataFrame
print(df)

key Engine Displacement Fuel Type     Insurance Validity    Kms Driven  \
0                   NaN       NaN                    NaN           NaN
1                   NaN       NaN  Third Party insurance           NaN
2                   NaN    Petrol                    NaN           NaN
3                   NaN       NaN                    NaN           NaN
4                   NaN       NaN                    NaN  1,20,000 Kms
5                   NaN       NaN                    NaN           NaN
6                   NaN       NaN                    NaN           NaN
7                998 cc       NaN                    NaN           NaN
8                   NaN       NaN                    NaN           NaN
9                   NaN       NaN                    NaN           NaN

key    Ownership   RTO Registration Year    Seats Transmission  \
0            NaN   NaN              2015      NaN          NaN
1            NaN   NaN               NaN      NaN          NaN
2            NaN   NaN               NaN      NaN          NaN
3            NaN   NaN               NaN  5 Seats          NaN
4            NaN   NaN               NaN      NaN          NaN
5            NaN  KA51               NaN      NaN          NaN
6    Third Owner   NaN               NaN      NaN          NaN
7            NaN   NaN               NaN      NaN          NaN
8            NaN   NaN               NaN      NaN       Manual
9            NaN   NaN               NaN      NaN          NaN

key Year of Manufacture
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6                   NaN
7                   NaN
8                   NaN
9                  2015

In [16]:
df.shape[0]

10

In [17]:
len(df)

10

In [18]:
import pandas as pd
import json
from pandas import json_normalize
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
df_6=df['new_car_overview']

print("Rows in original df:", len(df_6))

Rows in original df: 1481

In [19]:
import pandas as pd
import json

# Load your Excel file
df = pd.read_excel('C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0]')

# Clean the 'new_car_detail' column
df['cleaned'] = (
    df['new_car_overview']
    .str.replace("'", '"')
    .str.replace("None", "null")
)

# Convert each row's JSON string into a dict
def parse_json(s):
    try:
        return json.loads(s)['top']
    except:
        return None

df['parsed'] = df['cleaned'].apply(parse_json)

# Flatten each list of dicts into one row
rows = []
for row in df['parsed']:
    if isinstance(row, list):
        row_dict = {item['key']: item['value'] for item in row}
        rows.append(row_dict)

df_flat = pd.DataFrame(rows)

# Final check
print("Parsed DataFrame rows:", len(df_flat))
print(df_flat.head())

SyntaxError: unterminated string literal (detected at line 5) (2633100528.py, line 5)

In [ ]:
import pandas as pd
import json
from pandas import json_normalize
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
s=df['new_car_overview']
print(s)

s = df['new_car_detail'].str.strip('"').str.replace("'", '"').str.replace("None", "null")

data = s.apply(json.loads)  # If each row is a separate JSON string
df_1 = pd.json_normalize(data)

0       {'heading': 'Car overview', 'top': [{'key': 'R...
1       {'heading': 'Car overview', 'top': [{'key': 'R...
2       {'heading': 'Car overview', 'top': [{'key': 'R...
3       {'heading': 'Car overview', 'top': [{'key': 'R...
4       {'heading': 'Car overview', 'top': [{'key': 'R...
                              ...
1476    {'heading': 'Car overview', 'top': [{'key': 'R...
1477    {'heading': 'Car overview', 'top': [{'key': 'R...
1478    {'heading': 'Car overview', 'top': [{'key': 'R...
1479    {'heading': 'Car overview', 'top': [{'key': 'R...
1480    {'heading': 'Car overview', 'top': [{'key': 'R...
Name: new_car_overview, Length: 1481, dtype: object

In [ ]:
import pandas as pd
import json

# Load your Excel file
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
#df = pd.read_excel('bangalore_cars.xlsx')


s=df['']
print(s)

s = df['new car feature'].str.strip('"').str.replace("'", '"').str.replace("None", "null")

data = s.apply(json.loads)  # If each row is a separate JSON string
df_1 = pd.json_normalize(data)

KeyError: 'new car feature'

In [ ]:
import pandas as pd
import json

# Load your dataset
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])
# df = pd.read_excel("bangalore_cars.xlsx")  

# Step 1: Convert the JSON-like column into dictionaries
def parse_json(x):
    try:
        if isinstance(x, str):
            x = x.replace("'", '"').replace("None", "null")  # Fix formatting
            return json.loads(x)
        return x
    except:
        return None  # Handle errors

df['parsed'] = df['new_car_feature'].apply(parse_json)  # Change 'features_column' to your actual column name

# Step 2: Extract 'top' features
def extract_top_features(row):
    try:
        return [item['value'] for item in row['top']]  # Extracting all 'top' features
    except:
        return []

df['top_features'] = df['parsed'].apply(extract_top_features)

# Step 3: Extract 'data' features (categorized)
def extract_category_features(row):
    features = []
    try:
        for category in row['data']:
            category_name = category['heading']  # Example: Comfort, Safety
            for item in category['list']:
                features.append((category_name, item['value']))  # Store (Category, Feature)
    except:
        pass
    return features

df['category_features'] = df['parsed'].apply(extract_category_features)

# Step 4: Flatten into a structured DataFrame
rows = []
for index, row in df.iterrows():
    car_id = index  # Unique row ID
    # Add 'top' features
    for feature in row['top_features']:
        rows.append({'Car_ID': car_id, 'Category': 'General', 'Feature': feature})
    
    # Add 'data' (categorized) features
    for category, feature in row['category_features']:
        rows.append({'Car_ID': car_id, 'Category': category, 'Feature': feature})

# Convert to DataFrame
df_flat = pd.DataFrame(rows)

# ✅ Final Output
print(df_flat)  # View first 5 rows
df_flat.to_excel("cleaned_features.xlsx", index=False)  # Save as Excel

        Car_ID                       Category                 Feature
0            0                        General          Power Steering
1            0                        General     Power Windows Front
2            0                        General         Air Conditioner
3            0                        General                  Heater
4            0                        General  Adjustable Head Lights
...        ...                            ...                     ...
112668    1480  Entertainment & Communication          Speakers Front
112669    1480  Entertainment & Communication           Speakers Rear
112670    1480  Entertainment & Communication    Integrated2Din Audio
112671    1480  Entertainment & Communication     Usb Auxiliary Input
112672    1480  Entertainment & Communication               Bluetooth

[112673 rows x 3 columns]

In [ ]:
import pandas as pd
import json

# Step 1: Load Excel file
#df = pd.read_excel("bangalore_cars.xlsx")  # Update with your correct file path
df=pd.read_excel(r'C:\Users\VINOTH\Documents\Sharmila_Projects\GUVI_Project_03_Old_Car_Price_Prediction\input_data\bangalore_cars.xlsx',header=[0])

# Step 2: Parse JSON safely
def parse_json(x):
    try:
        if isinstance(x, str):
            x = x.replace("'", '"').replace("None", "null")
            return json.loads(x)
    except:
        pass
    return None

df['parsed'] = df['new_car_feature'].apply(parse_json)  # Replace with actual column name

# Step 3: Extract features for each row
def extract_features(row, car_id):
    result = {"car_id": car_id}
    try:
        # Category 1: 'top' section
        result["Category1"] = "Top Features"
        result["Feature1"] = ", ".join([item.get("value", "") for item in row.get("top", [])])

        # Categories 2–4 from 'data' section
        for i, section in enumerate(row.get("data", [])[:3]):
            result[f"Category{i+2}"] = f"{section.get('heading', '')} - {section.get('subHeading', '')}"
            result[f"Feature{i+2}"] = ", ".join([f.get("value", "") for f in section.get("list", [])])
    except Exception as e:
        print(f"Error at car_id {car_id}: {e}")
    return result

# Step 4: Build final dataframe
records = []
for idx, row in df.iterrows():
    parsed = row['parsed']
    car_id = row.get('car_id', idx)  # Use existing 'car_id' if present
    if parsed:
        records.append(extract_features(parsed, car_id))

final_df = pd.DataFrame(records)

# ✅ View and export
print(final_df.head())
# final_df.to_excel("car_features_cleaned.xlsx", index=False)
#len(df)

   car_id     Category1                                           Feature1  \
0       0  Top Features  Power Steering, Power Windows Front, Air Condi...
1       1  Top Features  Power Steering, Power Windows Front, Air Condi...
2       2  Top Features  Power Steering, Power Windows Front, Air Condi...
3       3  Top Features  Power Steering, Power Windows Front, Air Condi...
4       4  Top Features  Power Steering, Power Windows Front, Air Condi...

                         Category2  \
0  Comfort & Convenience - Comfort
1  Comfort & Convenience - Comfort
2  Comfort & Convenience - Comfort
3  Comfort & Convenience - Comfort
4  Comfort & Convenience - Comfort

                                            Feature2            Category3  \
0  Power Steering, Power Windows Front, Power Win...  Interior - Interior
1  Power Steering, Power Windows Front, Power Win...  Interior - Interior
2  Power Steering, Power Windows Front, Power Win...  Interior - Interior
3  Power Steering, Power Windows Front, Power Win...  Interior - Interior
4  Power Steering, Power Windows Front, Power Win...  Interior - Interior

                                            Feature3            Category4  \
0  Air Conditioner, Heater, Digital Odometer, Ele...  Exterior - Exterior
1  Air Conditioner, Heater, Adjustable Steering, ...  Exterior - Exterior
2  Air Conditioner, Heater, Adjustable Steering, ...  Exterior - Exterior
3  Air Conditioner, Heater, Adjustable Steering, ...  Exterior - Exterior
4  Air Conditioner, Heater, Adjustable Steering, ...  Exterior - Exterior

                                            Feature4
0  Adjustable Head Lights, Manually Adjustable Ex...
1  Adjustable Head Lights, Fog Lights Front, Powe...
2  Adjustable Head Lights, Fog Lights Front, Powe...
3  Adjustable Head Lights, Fog Lights Front, Powe...
4  Adjustable Head Lights, Fog Lights Front, Powe...

1481

Rows in final DataFrame: 1481
      Mileage   Engine  Max Power    Torque Seats Wheel Size
0   23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1     17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2  23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3   19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4  23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16

In [ ]:
print(df_all.dtypes)

NameError: name 'df_all' is not defined

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 🔹 List of selected features (copy-paste from your message)
selected_features = [
    'it', 'ft', 'bt', 'km', 'ownerNo', 'owner', 'oem', 'model', 'modelYear',
    'centralVariantId', 'variantName', 'price', 'priceActual', 'priceSaving', 'priceFixedText',
    'trendingText.imgUrl', 'trendingText.heading', 'trendingText.desc', 'Registration Year',
    'Insurance Validity', 'Seats', 'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement',
    'Year of Manufacture', 'car_id', 'Category1', 'Feature1', 'Category2', 'Feature2',
    'Category3', 'Feature3', 'Category4', 'Feature4', 'Mileage', 'Engine', 'Max Power',
    'Torque', 'Seats', 'Wheel Size', 'transmission_Automatic', 'transmission_Manual',
    'Fuel Type_CNG', 'Fuel Type_Diesel', 'Fuel Type_Electric', 'Fuel Type_LPG',
    'Fuel Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
    'ft_encoded', 'bt_encoded'
]

# 🔹 Filter only those columns from df_all
df_selected = df_all[selected_features].copy()

# 🔹 Encode non-numeric columns
from sklearn.preprocessing import LabelEncoder
for col in df_selected.select_dtypes(include='object').columns:
    df_selected[col] = LabelEncoder().fit_transform(df_selected[col].astype(str))

# 🔹 Compute correlation matrix
corr_matrix = df_selected.corr()

# 🔹 Plot heatmap
plt.figure(figsize=(20, 18))
sns.heatmap(corr_matrix, cmap='coolwarm', annot=False, linewidths=0.5)
plt.title("Heatmap of Selected Features", fontsize=18)
plt.xticks(rotation=90)
plt.yticks(rotation=0)
plt.tight_layout()
plt.show()

NameError: name 'df_all' is not defined