### Clean all data together so that the categorical conversion is applicable.!

In [3]:
import pandas as pd
import json
from pandas import json_normalize

df=pd.read_csv(r'./cleaned_data/all_cars_cleaned_data.csv',header=[0])
print(df.shape)
df.head(2)

(8369, 243)

,City,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen
0,0,0,4,2,NaN,1,3,3,20,160,...,22,7,NaN,NaN,23,5.0,NaN,NaN,NaN,NaN
1,0,0,4,7,NaN,1,2,2,6,50,...,22,7,NaN,NaN,26,4.0,NaN,16.0,16.0,NaN

In [4]:
# Count NaN values per column
nan_counts = df.isna().sum().sort_values(ascending=False)

# Display
print(nan_counts)

priceFixedText                 8369
priceSaving                    8369
Insurance Validity             8365
km                             8353
variantName                    8351
                               ...
Driver Air Bag                    0
Fog Lights Front                  0
Follow Me Home Headlamps          0
Rear Window Washer                0
Audio System Remote Control       0
Length: 243, dtype: int64

In [5]:
# Count NaN values per column
nan_counts = df.isna().sum()

# Filter columns with more than 100 NaNs
cols_with_gt_100_nans = nan_counts[nan_counts > 100].index.tolist()

# Drop those columns from the DataFrame
df = df.drop(columns=cols_with_gt_100_nans)

In [6]:
df=df.dropna()

In [7]:
df.shape

(8244, 217)

In [8]:
df_x = df.drop(columns=['price'])
df_y = df[['price']]

In [9]:
print(df_x.shape)
print(df_y.shape)

(8244, 216)
(8244, 1)

### correlation table may be usefult o filter highly correlating variables

In [10]:
##place holder(optional)

### get the most important features

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assume df_x (input features) and df_y (target) are already defined
# Encode any categorical variables if needed
df_x_encoded = df_x.copy()

for col in df_x_encoded.select_dtypes(include='object').columns:
    df_x_encoded[col] = LabelEncoder().fit_transform(df_x_encoded[col].astype(str))

# Split data
X_train, X_test, y_train, y_test = train_test_split(df_x_encoded, df_y, test_size=0.2, random_state=42)

# Train Random Forest
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train.values.ravel())

# Get feature importances
importances = pd.Series(rf.feature_importances_, index=df_x_encoded.columns)
importances_sorted = importances.sort_values(ascending=False)

# Display top features
print("Top important features:")
print(importances_sorted.head(30))
important_cols = importances_sorted.index.tolist()[:12]

Top important features:
Max Power                    0.681497
Max Torque                   0.057968
Year of Manufacture          0.043543
modelYear                    0.037430
Cruise Control               0.016364
Kms Driven                   0.006464
Engine Type                  0.006343
centralVariantId             0.006204
Speakers Rear                0.005716
Touch Screen                 0.005271
Cup Holders Rear             0.004427
Rear Entertainment System    0.004343
Tyre Pressure Monitor        0.004339
Tailgate Ajar                0.004178
Front Brake Type             0.003692
RTO                          0.003642
model                        0.003458
Lane Watch Camera            0.003132
Ventilated Seats             0.003089
Displacement                 0.003027
Drive Type                   0.002949
Blind Spot Monitor           0.002597
Engine Displacement          0.002571
Voice Control                0.002374
bt                           0.002283
Rear Spoiler                 0.002164
Tyre Type                    0.002134
City                         0.002096
Speakers Front               0.001984
Rear Folding Table           0.001842
dtype: float64

In [12]:
#important_cols

In [13]:
important_cols=['transmission','model','Year of Manufacture','City','ft','bt','Ownership','Kms Driven','Engine Type']

In [14]:
df_imp = df[important_cols + ['price']]
print(df_imp.shape)

(8244, 10)

In [15]:
df_imp.to_csv(r'./feature_importance/feature_imp_data.csv',index=False)